<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-H3ZG42NF20"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-H3ZG42NF20');
    </script>
    <title>{% block title %}VacaBot{% endblock %}</title>
    <meta name="description" content="{% block description %}Vacabot is a travel blog that provides tips and inspiration for travelers. Explore new destinations and plan your next adventure with us.{% endblock %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="VacaBot">
    <meta name="robots" content="index, follow">
    <link rel="canonical" href="https://vacabot.io/">
    <meta name="keywords" content="travel, blog, travel tips, inspiration, destinations, adventure, technology, budgeting">
    <meta property="og:type" content="website">
    <meta property="og:locale" content="en_US">
    <meta property="og:site_name" content="VacaBot">
    <meta name="twitter:card" content="summary">
    <!-- Other meta tags -->
    {% block extra_head %}
    {% endblock %}
    <!-- Load Tailwind CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='vbuild/style.css') }}">
</head>
<body>
    <header class="bg-green-500">
        <nav class="container mx-auto flex items-center justify-between px-4 py-4">
            <a href="{{ url_for('home') }}" class="text-white font-bold text-xl">VacaBot</a>
            <ul class="flex">
                <!-- <li class="mr-6">
                    <a href="{{ url_for('home') }}" class="text-white hover:text-gray-400">Home</a>
                </li> -->
                <li class="mr-6">
                    <a href="{{ url_for('blog') }}" class="text-white hover:text-gray-400">Blog</a>
                </li>
                <li class="mr-6">
                    <a href="{{ url_for('create_itinerary') }}" class="text-white hover:text-gray-400">Create Itinerary</a>
                </li>
                <li class="mr-6">
                    <a href="{{ url_for('search_flights') }}" class="text-white hover:text-gray-400">Search Flights</a>
                </li>
            </ul>
        </nav>
    </header>
    <main class="container mx-auto py-8">
        {% block content %}{% endblock %}
    </main>
    <footer py-4>
        <a href="https://tp.media/click?shmarker=411674&promo_id=7788&source_type=banner&type=click&campaign_id=200&trs=210863" target="_blank"> <img src="https://c200.travelpayouts.com/content?promo_id=7788&shmarker=411674&type=init&trs=210863" alt="Cheap flights with cashback"> </a> 
    </footer>
</body>
</html>
