<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-H3ZG42NF20"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-H3ZG42NF20');
    </script>
    <title>{% block title %}VacaBot{% endblock %}</title>
    <meta name="description" content="{% block description %}Vacabot is a travel blog that provides tips and inspiration for travelers. Explore new destinations and plan your next adventure with us.{% endblock %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="VacaBot">
    <meta name="robots" content="index, follow">
    <link rel="canonical" href="https://vacabot.io/">
    <meta name="keywords" content="travel, blog, travel tips, inspiration, destinations, adventure, technology, budgeting">
    <meta property="og:type" content="website">
    <meta property="og:locale" content="en_US">
    <meta property="og:site_name" content="VacaBot">
    <meta name="twitter:card" content="summary">
    <!-- Other meta tags -->
    {% block extra_head %}
    {% endblock %}
    <!-- Load Tailwind CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='vbuild/style.css') }}">
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="{{  url_for('static', filename='favicon/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{  url_for('static', filename='favicon/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{  url_for('static', filename='favicon/favicon-16x16.png') }}">
    <link rel="manifest" href="{{  url_for('static', filename='favicon/site.webmanifest') }}">
</head>
<body>
    <header class="bg-blue-500">
        <nav class="container mx-auto flex items-center justify-between px-4 py-2 sm:py-4">
            <a href="{{ url_for('home') }}" class="text-white font-bold text-lg sm:text-2xl">VacaBot</a>
            <ul class="flex flex-wrap sm:flex-no-wrap sm:items-center">
                <li class="mr-4">
                    <a href="{{ url_for('blog') }}" class="text-white hover:text-gray-400 text-sm sm:text-base">Blog</a>
                </li>
                <li class="mr-4">
                    <a href="{{ url_for('create_itinerary') }}" class="text-white hover:text-gray-400 text-sm sm:text-base">Create Itinerary</a>
                </li>
                <li>
                    <a href="{{ url_for('search_flights') }}" class="text-white hover:text-gray-400 text-sm sm:text-base">Search Flights</a>
                </li>
            </ul>
        </nav>
    </header>      
    <main class="container mx-auto py-8">
        {% block content %}{% endblock %}
    </main>

    <!-- Banner ad -->
    <div class="flex justify-center mt-8">
        <a href="https://tp.media/click?shmarker=411674&promo_id=7788&source_type=banner&type=click&campaign_id=200&trs=210863" target="_blank" rel="noopener">
            <img src="https://c200.travelpayouts.com/content?promo_id=7788&shmarker=411674&type=init&trs=210863" alt="Cheap flights with cashback" class="w-full">
        </a>
    </div>

    <footer class="py-4 bg-gray-100">
        <div class="flex justify-center w-full">
          <div class="mt-4 flex items-center justify-center space-x-2 text-gray-500 mx-auto">
            <a href="{{ url_for('home') }}" class="hover:text-gray-900 transition duration-500">Home</a>
            <a href="{{ url_for('create_itinerary') }}" class="hover:text-gray-900 transition duration-500">Create Itinerary</a>
            <a href="{{ url_for('disclaimer') }}" class="hover:text-gray-900 transition duration-500">Disclaimer</a>
          </div>
        </div>
      </footer>                
</html>
