{% extends 'base.html' %}

{% block title %}{{ blog_post.title }}{% endblock %}
{% block description %}{{ blog_post.description }}{% endblock %}

{% block extra_head %}
    <!-- Additional meta tags or other content -->
    <meta property="og:title" content="{{ blog_post.title }}">
    <meta property="og:description" content="{{ blog_post.description }}">
    <meta property="og:url" content="{{ url_for('get_blog_post', blog_id=blog_post.id) }}">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="{{ blog_post.title }}">
    <meta property="twitter:description" content="{{ blog_post.description }}">
    <meta name="twitter:image:alt" content="{{ blog_post.title }}">
{% endblock %}

{% block content %}
    <div class="container mx-auto py-8">
        <div class="markdown">
            <h2>{{ blog_post.title }}</h2>
            <p class="text-gray-600 text-sm">{{ blog_post.date }}</p>
            {{ blog_post.html | safe }}
        </div>
    </div>
{% endblock %}
