{% extends 'base.html' %}

{% block title %}VacaBot - Privacy Disclaimer{% endblock %}
{% block description %}VacaBot - Privacy Disclaimer{% endblock %}

{% block content %}
<div class="container mx-auto py-8">
    <p class="text-sm text-gray-600">
    VacaBot is a website that generates travel itineraries based on user preferences. We do not collect any personally identifiable information (PII) from users at this time. However, we reserve the right to collect PII in the future in order to improve the user experience and provide better recommendations. Any PII that is collected will be kept confidential and will not be shared with third parties without the user's consent. By using VacaBot, you agree to these terms and conditions.
    </p>
</div>
{% endblock %}