{% extends "base.html" %}

{% block content %}
    <div class="min-h-screen bg-gray-100 py-6 flex flex-col justify-center sm:py-12">
        <div class="relative py-3 sm:max-w-xl sm:mx-auto">
            <div class="absolute inset-0 bg-gradient-to-r from-blue-400 to-blue-600 shadow-lg transform -skew-y-6 sm:skew-y-0 sm:-rotate-6 sm:rounded-3xl"></div>
            <div class="relative px-4 py-10 bg-white shadow-lg sm:rounded-3xl sm:p-20">
                <h1 class="text-2xl font-bold mb-4">Task In Progress</h1>
                <p class="text-xl mb-4">Your itinerary for <span class="font-semibold">{{ itinerary.destination }}</span> is being generated. Please wait...</p>
                <p class="text-lg">Task status: <span class="font-semibold">{{ job_status }}</span></p>
            </div>
        </div>
    </div>
    <script>
        (function checkTaskStatus() {
        // Replace this with the URL to your task_status endpoint
        const taskStatusUrl = "{{ url_for('task_status', id=itinerary.id) }}";

        // Send an AJAX request to the task_status endpoint
        fetch(taskStatusUrl)
            .then(response => response.json())
            .then(data => {
                if (data.status === 'finished') {
                    // If the task is finished, refresh the page
                    location.reload();
                } else {
                    // If the task is not finished, check the status again after a delay
                    setTimeout(checkTaskStatus, 2000);
                }
            })
            .catch(error => {
                console.error('Error fetching task status:', error);
            });
        })();

    </script>
{% endblock %}
